<ion-view title="Home" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="home-list-item-container1">
      <div id="home-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Hello {{name}} What would you like to do today?</p>
      </div>
      <a ui-sref="passengers" id="home-button7" class="button button-positive  button-block icon ion-android-contacts">Get Passengers</a>
      <button id="home-button8" class="button button-positive  button-block icon ion-android-car">Get Drivers</button>
      <button id="home-button9" class="button button-positive  button-block icon ion-ios-list-outline">View Trip History</button>
    
	<button id="home-button10" class="button button-positive  button-block icon ion-android-star-outline">View Rating Score</button>
	<a id="home-button12" ui-sref="app.profile" class="button button-positive  button-block icon ion-android-star-outline">Profile </a>
	<button id="home-button17" ng-click="logout()" class="button button-positive  button-block icon ion-android-star-outline">Logout </button>
    </div>
  </ion-content>
</ion-view>